body{
    background-color: rgb(255, 0, 0);
    text-align: center;
}
nav {
  background-color: rgb(255, 200, 200);
}
header{
    background-color: rgb(255, 200, 200);
}
section{
    background-color: rgb(255, 200, 200);
    border-width: 1px;
    border-color: black;
}
footer{
    background-color: rgb(255, 200, 200);
}
table{
    align-items: center;
}
aside{
    background-color: rgb(255, 200, 200);
}
h1{
    background-color: rgb(255, 200, 200);
}
form{
    background-color: rgb(255, 200, 200);
}