body{
    background-color: rgb(255, 0, 0);
    text-align: center;
}
nav {
  background-color: rgb(255, 200, 200);
}
header{
    background-color: rgb(255, 200, 200);
}
main{
    background-color: rgb(255, 200, 200);
}
hr{
    border: color(black);
    border-width: 1px;
}
footer{
    background-color: rgb(255, 200, 200);
}
